<?xml version="1.0" encoding="windows-1251"?>
<root>
	<current_settings>
		<CloseQuest value="0"/>
		<UserProtectedParamWarning value="0"/>
		<ShowHints value="0"/>
		<NameColumnWidth value="250"/>
		<ValueColumnWidth value="113"/>
		<UnitColumnWidth value="80"/>
		<panelScopeVarsHeight value="112"/>
		<sgScopeVarsCursor1ColWidth value="70"/>
		<sgScopeVarsCursor2ColWidth value="70"/>
		<sgScopeVarsCursor21ColWidth value="70"/>
		<sgScopeVarsUnitsColWidth value="50"/>
		<sgScopeVarsScaleColWidth value="60"/>
		<sgScopeVarsOffsetColWidth value="60"/>
		<ProfilesGridColumnWidth col0="180" col1="169" col2="73" col3="67" col4="64" col5="48"/>
		<SDLogsDir value=""/>
		<FaultLogsDir value=""/>
		<OD_ParamsDir value=""/>
		<MonitorDir value=""/>
		<MonitorLastFile value=""/>
		<WallpaperImagesDir value="D:\VectorProg\RTCON_5.5.5\"/>
		<ProgLanguage value="0"/>
		<MainTimerInterval value="250"/>
		<ProfilesDir value=".\Settings\Profiles\"/>
		<RebootErrorEna value="1"/>
		<RWColorsInvertion value="0"/>
		<HideInTray value="0"/>
		<UseDlogBT value="1"/>
		<TCPTransferEnable value="0"/>
		<ODAutoCheck value="1"/>
		<TextsUpdateURL value=""/>
		<TextsUpdatePeriod value="0"/>
		<TimeOfLastCheckForTextsUpdate value="30.12.1899 00:00:00"/>
		<UseMonospacedFont value="0"/>
		<CheckParamRange value="1"/>
		<RestoreOscOnNodeChange value="1"/>
		<RestoreMonOnNodeChange value="0"/>
		<RestoreTabOnNodeChange value="1"/>
		<ShowScopeDataTimestamp value="1"/>
		<InvertOscWindow value="0"/>
		<Node0 ProfileNum="0"/>
		<Node1 ProfileNum="0"/>
		<Node2 ProfileNum="0"/>
		<Node3 ProfileNum="0"/>
		<Node4 ProfileNum="0"/>
		<Node5 ProfileNum="0"/>
		<Node6 ProfileNum="0"/>
		<Node7 ProfileNum="0"/>
		<Node8 ProfileNum="0"/>
		<Node9 ProfileNum="0"/>
		<Node10 ProfileNum="0"/>
		<Node11 ProfileNum="0"/>
		<Node12 ProfileNum="0"/>
		<Node13 ProfileNum="0"/>
		<Node14 ProfileNum="0"/>
		<Node15 ProfileNum="0"/>
		<Node16 ProfileNum="0"/>
		<Node17 ProfileNum="0"/>
		<Node18 ProfileNum="0"/>
		<Node19 ProfileNum="0"/>
		<Node20 ProfileNum="0"/>
		<Node21 ProfileNum="0"/>
		<Node22 ProfileNum="0"/>
		<Node23 ProfileNum="0"/>
		<Node24 ProfileNum="0"/>
		<Node25 ProfileNum="0"/>
		<Node26 ProfileNum="0"/>
		<Node27 ProfileNum="0"/>
		<Node28 ProfileNum="0"/>
		<Node29 ProfileNum="0"/>
		<Node30 ProfileNum="0"/>
		<Node31 ProfileNum="0"/>
		<Node32 ProfileNum="0"/>
		<Node33 ProfileNum="0"/>
		<Node34 ProfileNum="0"/>
		<Node35 ProfileNum="0"/>
		<Node36 ProfileNum="0"/>
		<Node37 ProfileNum="0"/>
		<Node38 ProfileNum="0"/>
		<Node39 ProfileNum="0"/>
		<Node40 ProfileNum="0"/>
		<Node41 ProfileNum="0"/>
		<Node42 ProfileNum="0"/>
		<Node43 ProfileNum="0"/>
		<Node44 ProfileNum="0"/>
		<Node45 ProfileNum="0"/>
		<Node46 ProfileNum="0"/>
		<Node47 ProfileNum="0"/>
		<Node48 ProfileNum="0"/>
		<Node49 ProfileNum="0"/>
		<Node50 ProfileNum="0"/>
		<Node51 ProfileNum="0"/>
		<Node52 ProfileNum="0"/>
		<Node53 ProfileNum="0"/>
		<Node54 ProfileNum="0"/>
		<Node55 ProfileNum="0"/>
		<Node56 ProfileNum="0"/>
		<Node57 ProfileNum="0"/>
		<Node58 ProfileNum="0"/>
		<Node59 ProfileNum="0"/>
		<Node60 ProfileNum="0"/>
		<Node61 ProfileNum="0"/>
		<Node62 ProfileNum="0"/>
		<Node63 ProfileNum="0"/>
		<Node64 ProfileNum="0"/>
		<Node65 ProfileNum="0"/>
		<Node66 ProfileNum="0"/>
		<Node67 ProfileNum="0"/>
		<Node68 ProfileNum="0"/>
		<Node69 ProfileNum="0"/>
		<Node70 ProfileNum="0"/>
		<Node71 ProfileNum="0"/>
		<Node72 ProfileNum="0"/>
		<Node73 ProfileNum="0"/>
		<Node74 ProfileNum="0"/>
		<Node75 ProfileNum="0"/>
		<Node76 ProfileNum="0"/>
		<Node77 ProfileNum="0"/>
		<Node78 ProfileNum="0"/>
		<Node79 ProfileNum="0"/>
		<Node80 ProfileNum="0"/>
		<Node81 ProfileNum="0"/>
		<Node82 ProfileNum="0"/>
		<Node83 ProfileNum="0"/>
		<Node84 ProfileNum="0"/>
		<Node85 ProfileNum="0"/>
		<Node86 ProfileNum="0"/>
		<Node87 ProfileNum="0"/>
		<Node88 ProfileNum="0"/>
		<Node89 ProfileNum="0"/>
		<Node90 ProfileNum="0"/>
		<Node91 ProfileNum="0"/>
		<Node92 ProfileNum="0"/>
		<Node93 ProfileNum="0"/>
		<Node94 ProfileNum="0"/>
		<Node95 ProfileNum="0"/>
		<Node96 ProfileNum="0"/>
		<Node97 ProfileNum="0"/>
		<Node98 ProfileNum="0"/>
		<Node99 ProfileNum="0"/>
		<Node100 ProfileNum="0"/>
		<Node101 ProfileNum="0"/>
		<Node102 ProfileNum="0"/>
		<Node103 ProfileNum="0"/>
		<Node104 ProfileNum="0"/>
		<Node105 ProfileNum="0"/>
		<Node106 ProfileNum="0"/>
		<Node107 ProfileNum="0"/>
		<Node108 ProfileNum="0"/>
		<Node109 ProfileNum="0"/>
		<Node110 ProfileNum="0"/>
		<Node111 ProfileNum="0"/>
		<Node112 ProfileNum="0"/>
		<Node113 ProfileNum="0"/>
		<Node114 ProfileNum="0"/>
		<Node115 ProfileNum="0"/>
		<Node116 ProfileNum="0"/>
		<Node117 ProfileNum="0"/>
		<Node118 ProfileNum="0"/>
		<Node119 ProfileNum="0"/>
		<Node120 ProfileNum="0"/>
		<Node121 ProfileNum="0"/>
		<Node122 ProfileNum="0"/>
		<Node123 ProfileNum="0"/>
		<Node124 ProfileNum="0"/>
		<Node125 ProfileNum="0"/>
		<Node126 ProfileNum="0"/>
		<Node127 ProfileNum="0"/>
		<DebugLogLevel value="5"/>
		<DelScopesDays value="0"/>
		<GroupParamFormat value="%g :: %p"/>
		<ProgrammerDirs/>
	</current_settings>
</root>
